<!DOCTYPE html>

<html lang="en" ng-app="jXtnsion" ng-csp>
<head>

  <title>JXtnsion</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/css/main.css">
  <script src="app/js/jquery-2.1.1.min.js"></script>
  <script src="app/bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <!--Materializecss styles -->
  <link href="app/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="app/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="app/css/todo.css">

</head>
<body ng-controller='JXtnsionCtrl' ng-style="{'background-image': getImage}">
 <div id='header'>
  <h1 class="grey-text text-darken-5">JXtnsion</h1>


 </div>

 <div id='dateToday' class="grey-text text-darken-5">
  {{dateToday | date:'medium'}}
 </div>

 <div id='currentCity' class="grey-text text-darken-5">
  {{weatherToday.data.request[0].query}}
 </div>

 <div id="temp" class="grey-text text-darken-5">
  {{weatherToday.data.current_condition[0].temp_C}}&deg; C
 </div>

 <div id="weatherPic">
  <img src="{{weatherToday.data.current_condition[0].weatherIconUrl[0].value}}"></img>
 </div>

 <div id='countries' class='row grey-text text-darken-5 '>
  <div class="col s1.5">
    <div>New York</div>
    <div>{{dateToday - 14400000 - 3600000 | date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>London</div>
    <div>{{dateToday | date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Buenos Aires</div>
    <div>{{dateToday - 10800000 - 3600000| date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Johannesburg</div>
    <div>{{dateToday + 7200000 - 3600000| date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Paris</div>
    <div>{{dateToday + 7200000 - 3600000| date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Sydney</div>
    <div>{{dateToday + 36000000 - 3600000| date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Toronto</div>
    <div>{{dateToday - 14400000 - 3600000 | date:'hh:mm:ss a'}}</div>
  </div>

   <div class="col s1.5">
    <div>Moscow</div>
    <div>{{dateToday + 10800000 - 3600000| date:'hh:mm:ss a'}}</div>
  </div>

   
 </div>

 <div id='freckle'>

 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header btn-large waves-effect waves-light blue">
        <i class="mdi-action-alarm"></i>
        Track Time on Freckle!
      </div>
    
      <div id = 'project' class="collapsible-body" ng-repeat = "project in freckleInfo">
        <p>
          {{project.name}}
          <span id='buttons'>
            <i id='play' class="mdi-av-play-circle-fill small" ng-click="startTimer(project.id)"></i>
            <i id='pause' class="mdi-av-pause-circle-fill small" ng-click="pauseTimer(project.id)"></i>
            <i id='log' class="mdi-action-done small" ng-click="logTimer(project.id)"></i>
          </span>
        </p>
      </div>
    </li>
  </ul>

  
  <form ng-submit="saveFreckleKey(freckleKey)" id='freckleform' ng-if="freckleDisplay">
  <span class='row grey-text text-darken-5 '>Enter Your Freckle API Key:</span><input type='text' id='frecklekey' ng-model="freckleKey">
  <input type='submit' id='submitkey' ng-click="saveFreckleKey(freckleKey)"></input>
 </form>
 </div>

 <div id='todo'><!--div containing sus todo-->
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger blue" href="#todomodal">Task Manager</a>
  <!-- Modal Structure -->
  <div id="todomodal" class="modal">
    <div class="modal-content">
             <div class="row">
                  <div class="subtitle">
                    <h3 class = "center-align">Todo List Manager</h3>
                      <div>
                      <p class = "center-align"><i style ="font-size: 25px">every second counts...</i></p>
                      </div>
                  </div>
                  <div class="col s6" id="plans">
                    <div>
                      <i class="large mdi-notification-event-note"></i><h5 id="Title">Your Plans?</h5>
                        <div class="grid-example col s12 m6" align="left"> 
                          <input type = "text" id = "description" ng-model="newTask" placeholder="Got to do">
                            <div class= "section ">
                              <input type="date" id="dueDate" class="taskDate" ng-model="newTaskDate">
                              <label for="dueDate">Due Date</label>
                            </div>
                          </div>
                          <div class="grid-example col s12 m6" align="left"> 
                            <div class="input-field col s12" >
                              <select ng-model="opt" ng-options="priority.name for priority in priorities" ng-change = "change()"> 
                                <option value="" disabled selected >Priority</option>
                              </select>
                            </div>
                          </div>
                          <div class="grid-example col s12 m12">
                            <a class="waves-effect waves-light btn add" ng-click="addTask()">Add Task</a> 
                          </div>
                    </div>
                  </div>
                  <div class="col s6 ttd" id="todonew">
                      <i class="large mdi-action-note-add"></i><h5 id="Title">Things to do</h5>
                        <form action="#" >
                        
                          
                            <p ng-repeat= "todo in todoList">
                              <input type="checkbox" id="{{todo.text}}" class="qw" ng-model="todo.done" />
                                <label for="{{todo.text}}" class="susan">{{todo.text}}</label> <strong class = "taskDate done-{{todo.done}}" style ="font-size: 15px"> on {{todo.date|date:'mediumDate'}} | {{todo.priority}}</strong>
                                 
                            </p>
                          
                        </form>  
                          <a class="waves-effect waves-light btn delete" ng-click="delete()">Delete Selected Task</a>
                    
                  </div>
                </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
 </div>
<!--mine-->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="app/bower_components/angular/angular.js"></script>
  <!--<script src="app/js/app.js"></script>-->
  <script src="app/js/controllers.js"></script>
  <script src="app/js/services.js"></script>

  <!--materialize javascript files-->
  <script src="app/js/materialize.js"></script>
  <script src="app/js/init.js"></script>
</body>
</html>
